.HotMenu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.HotMenu h1{
    color: #262626;
    font-weight: 500px;
}

.HotMenu-text{
    max-width: 60%;
    columns: #808080;
}

.HotMenu-list{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
}

.HotMenu-list::-webkit-scrollbar{
    display: none;
}

.HotMenu-list-item{
    /* width: 12.5vw; */
    min-width: 10vw;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}

.HotMenu-list-item img{
    width: 130px;
}

.HotMenu-list-item p{
    margin-top: 10px;
    color: #747474;
    font-size: max(1.4vw, 16px);
    cursor: pointer;
}

.HotMenu hr{
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}

.HotMenu-list-item .active{
    border: 4px solid tomato;
    padding: 2px;
}

@media (max-width: 1050px) {
    .HotMenu-text{
        max-width: 100%;
        font-size: 14px;
    }
}

@media (max-width: 750px) {
    .HotMenu{
        display: none;
    }
}