/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  background-color: rgba(231, 230, 230, 0.925);
}

a{
  text-decoration: none;
  color: inherit
}

.app{
  width: 80%;
  margin: auto;
}
.flex-col{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.col-2{
  width: 16.66%;
}
.col-3{
  width: 25%;
}
.col-4{
  width: 33.33%;
}
.col-5{
  width: 41.66%;
}
.col-6{
  width: 50%;
}
.col-8{
  width: 66.66%;
}
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .app{
    width: 100%;
  }
  .col-8{
    width: 100%;
  }
}